*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body{
	background-color: #cacaca;
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;

    max-width: 1170px;
    margin: 50px auto;
    font-size: 20px;
    color: aliceblue;
    text-align: center;
    background-color: #fff;
    padding: 5px;
}

.flex-element{
    flex: 1 50px;
    /*
        initial (0 1 auto);
        auto (1 1 auto)
        none (0 0 auto)
        2 (2 1 0)
        30px (1 1 30px)
        2 30px (2 1 30px)
        2 3 40px (2 3 40px)
    */

    /*
        flex-basis: 20px;
        flex-grow: 1;
        flex-shrink: 1;
    */

	padding: 10px;
    background-color: #e85b5b;
    margin: 5px;
}

.flex-element:nth-child(1){
    flex: 3;
}
